p, h, h1, h2, h3, h4, h5, h6, footer, head {
 color: white;
 font-size: 30px;
 margin-left: 10px;
}

body, html {
  background-color: black;
  margin: 0px;
}

.backToCodark {
 color: white;
 font-size: 35px;
 transition: 1s;
 position: fixed;
 text-decoration: none;
}

.backToCodark:hover {
 color: grey;
 transition: 2s;
 text-decoration: underline;
}
