body, html {
 background: url("https://darkheart527.github.io/domain-storage/roses.jpg") repeat fixed;
}

.text {
 background-color: pink;
 opacity: 1;
 font-size: 50px;
 transition: 0.75s;
 color: purple;
}

.text:hover {
 color: pink;
 transition: 1.5s;
 background-color: purple;
}
