body, html {
 margin: 0px;
 background-color: black;
}

* {
 text-decoration: none;
 color: yellow;
}

.linkSelection {
 color: grey;
 font-size: 30px;
 transition: 0.75s;
}

.linkSelection:hover {
 color: white;
 transition: 1.5s;
}

.linkSelection::after {
 content: ' / ';
}

.page {
 color: white;
 font-size: 30px;
 transition: 0.75s;
}

.page:hover {
 color: darkgrey;
 transition: 1.5s;
}
