body, html {
 margin: 0px;
 background-color: black;
}

.text {
 background-color: grey;
 opacity: 1;
 font-size: 50px;
 transition: 0.75s;
 color: black;
}

.text:hover {
 color: grey;
 transition: 1.5s;
 background-color: black;
}

.backToCodark {
 color: black;
 font-size: 35px;
 transition: 1s;
 position: fixed;
 text-decoration: none;
 background-color: grey;
 margin-left: 0px;
 margin-top: 0px;
 padding: 3px;
}

.backToCodark:hover {
 color: grey;
 transition: 2s;
 text-decoration: underline;
 background-color: black;
}
