.screen {
 background-color: black;
 width: 100%;
 position: fixed;
 height: 100%;
}

.elTime {
 color: #2cb200;
 text-align: center;
 font-size: 100px;
 margin: 0px;
 margin-top: 200px;
}

.elTimeLast {
 color: red;
 text-align: center;
 font-size: 100px;
 margin: 0px;
}

body {
 margin: 0px;
}

.linkBTC {
 color: grey;
 background-color: transparent;
 text-decoration: none;
 transition: border-right 2.5s, border-left 2.5s, color 1s;
 margin: 0px;
 margin-left: 5px;
 position: fixed;
 z-index: 1;
}

.linkBTC:hover {
 color: black;
}
