body {
 margin: 0px;
 background-color: black;
 width: 100%;
 height: 100%;
}

header {
 height: 65px;
 width: 100%;
 background-color: black;
 box-shadow: 0px 0px 10px purple;
 margin-bottom: 50px;
 display: inline-flex;
}

.page {
 height: 80%;
 width: 100%;
 background-color: black;
 position: relative;
 overflow-x: auto;
}

.logo {
 width: 200px;
 height: 100%;
}

.topLogo, .bottomLogo {
 text-shadow: 0px 0px 5px purple;
 font-family: cursive;
 text-align: center;
}

.topLogo {
 font-size: 35px;
 margin-bottom: -10px;
}

.bottomLogo {
 font-size: 15px;
}

.wholePage {
 box-shadow: 0px 0px 25px purple;
}

.headLink {
 font-size: 35px;
 color: purple;
 margin-top: 15px;
 margin-left: 15px;
 text-decoration: none;
 transition: .15s color, .15s text-shadow;
}

.headLink:hover {
 text-shadow: 0px 0px 5px purple;
 color: black;
}

.activeLink {
 font-size: 35px;
 margin-top: 10px;
 margin-left: 15px;
 text-decoration: none;
 transition: .15s color, .15s text-shadow;
 text-shadow: 0px 0px 5px purple;
 color: black;
}

.aboutMe {
 width: 70%;
 height: auto;
 margin-left: 15%;
 box-shadow: 0px 0px 5px purple;
 border-radius: 15px;
}

.sectionHeader {
 width: 100%;
 height: auto;
 text-align: center;
 font-size: 35px;
 text-shadow: 0px 0px 5px purple;
}

.sectionArticle {
 color: black;
 text-shadow: 0px 0px 5px purple;
 font-size: 25px;
 margin-left: 25px;
 margin-right: 25px;
}
