.progressBar {
 margin-left: 45%;
}

* {
 transition: 2.5s;
}

.info {
 outline: none;
 border-color: transparent;
}

.linkBTC {
 position: fixed;
}

html, body {
 animation: changer 5s ease-in-out 1;
}

@keyframes changer {
 0% {transform: rotate(7200deg);};
 100% {transform: rotate(7200deg);};
}