* {
 color: red;
}

*::-webkit-slider-thumb, *::-webkit-slider-runnable-track {
 -webkit-appearance: none;
 appearance: none;
}

.selector {
 background-color: white;
 color: purple;
}

body {
 background-color: orange;
}

.allContent {
 background-color: black;
 animation: moveSideToSideBodyMode 10s infinite;
}

.option {
 background-color: white;
 color: black;
}

.option2 {
 background-color: white;
 color: black;
}

.typeSelector {
 background-color: white;
 color: black;
}

.nowPlaying {
 background-color: transparent;
 color: orange;
 font-size: 70px;
}

.author {
 color: darkgrey;
 background-color: transparent;
 font-size: 35px;
}

.inputSlider {
 -webkit-appearance: none;
 background-color: transparent;
 width: 50%;
 margin-left: 0px;
 height: 10px;
}

.inputSlider:disabled {
 opacity: .3;
}

.inputSlider::-webkit-slider-runnable-track {
 -webkit-appearance: none;
 height: 10px;
 width: 50%;
 background-color: red;
 border-radius: 200px;
 box-shadow: 0px 0px 15px blue;
 transition: 1.5s;
}

.inputSlider::-webkit-slider-runnable-track:hover {
 background-color: blue;
 box-shadow: 0px 0px 15px red;
 transition: 1.5s;
}

.inputSlider::-webkit-slider-thumb {
 -webkit-appearance: none;
 width: 25px;
 height: 25px;
 margin-top: -7.5px;
 border-radius: 20px;
 border: solid 3px blue;
 background-color: blue;
 transition: 1.5s;
 box-shadow: 0px 0px 20px red;
}

.inputSlider::-webkit-slider-thumb:hover {
 cursor: pointer;
 transition: 1.5s;
 border: solid 3px red;
 background-color: blue;
 box-shadow: 0px 0px 20px blue;
}

.text {
 background-color: transparent;
 color: lightgrey;
}

.linkBTC {
 color: grey;
 background-color: transparent;
 text-decoration: none;
 transition: border-right 2.5s, border-left 2.5s, color 1s;
 margin: 0px;
 position: fixed;
 z-index: 1;
}

.linkBTC:hover {
 color: lightgrey;
}

.buttonType-1 {
 color: grey;
 background-color: black;
 border-color: darkgrey;
 font-size: 17.5px;
 border-width: 3px;
 border-radius: 5px;
 border: default;
 transition: box-shadow .6s;
}

.buttonType-1:hover {
 box-shadow: 0px 0px 25px white;
 transition: box-shadow .3s;
 cursor: pointer;
}

.buttonType-1:disabled {
 color: pink;
 background-color: black;
 border-color: darkgrey;
 transition: color .25s;
}

.buttonType-1:disabled:hover {
 cursor: default;
 box-shadow: 0px 0px 0px transparent;
 color: red;
 transition: color .5s;
}

.buttonType-2 {
 color: black;
 background-color: grey;
 border-color: white;
 border-width: 3px;
 border-radius: 5px;
 font-size: 17.5px;
}

.buttonType-2:hover {
 transition: box-shadow .3s;
 box-shadow: 0px 0px 25px darkgrey;
 cursor: pointer;
}

.progressBar {
 -webkit-appearance: none;
 margin-top: 10px;
 border: solid rgb(0, 255, 14) 2px;
 width: 80%;
 height: 50px;
 margin-left: 10%;
 transition: 1s;
 border-radius: 200px;
 padding-right: 15px;
 padding-left: 15px;
 box-shadow: 0px 0px 20px rgb(0, 255, 14);
 background-color: transparent;
}

.progressBar::-webkit-slider-thumb/* VALID PSEUDO CLASS*/ {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: red;
  opacity: 1;
  cursor: pointer;
  margin-top: -2.5px;
  box-shadow: 0px 0px 30px red;
  transition: 1.5s;
}

.progressBar::-webkit-slider-runnable-track {
 border-radius: 20px;
 width: 100%;
 height: 10px;
 margin-top: 7.5px;
 margin-left: 5px;
 margin-top: -2px;
 background-color: aqua;
 box-shadow: 0px 0px 25px aqua;
}

.useGc {
 color: white;
 font-size: 50px;
 margin-top: 30px;
}

.useGcB {
 color: green;
 text-decoration: underline;
}

.timeDisplay {
 color: #000cff;
 font-size: 30px;
 box-shadow: 0px 0px 20px blue;
 display: inline;
 padding: 5px;
 border-radius: 10px;
}

@keyframes moveSideToSide {
	0% {transform: rotate(11.25deg) rotateY(-35deg);margin-left: -60;}
	50% {transform: rotate(-11.25deg) rotateY(35deg);margin-left: 60px;}
	100% {transform: rotate(11.25deg) rotateY(-35deg);margin-left: -60px;}
}

@keyframes moveSideToSideBodyMode {
   0% {transform: rotate(-.35deg)}
   50% {transform: rotate(.35deg)}
   100% {transform: rotate(-.35deg)}
}

.info {
 box-shadow: 0px 0px 15px red;
 display: table;
 padding-right: 2.5%;
 border-radius: 35px;
 margin-bottom: 40px;
 animation: moveSideToSide 5s ease-in-out infinite;
}

.inputSlider2 {
 -webkit-appearance: none;
 background-color: transparent;
 width: 50%;
 margin-left: 0px;
 height: 10px;
}

.inputSlider2:disabled {
 opacity: .3;
}

.inputSlider2::-webkit-slider-runnable-track {
 -webkit-appearance: none;
 height: 10px;
 width: 50%;
 background-color: yellow;
 border-radius: 200px;
 box-shadow: 0px 0px 15px yellow;
 transition: 1.5s;
}

.inputSlider2::-webkit-slider-thumb {
 -webkit-appearance: none;
 width: 25px;
 height: 25px;
 margin-top: -7.5px;
 border-radius: 20px;
 border: solid 3px orange;
 background-color: orange;
 transition: 1.5s;
 box-shadow: 0px 0px 20px yellow;
}

.inputSlider2::-webkit-slider-thumb:hover {
 cursor: pointer;
 transition: 1.5s;
 background-color: red;
}

.themeDisplay {
 margin: 0px;
 position: absolute;
 background-color: white;
 color: black;
 width: 10%;
 height: auto;
 margin-left: 45%;
 margin-top: 814px;
 z-index: 1;
}

.jsOption {
 margin: 0px;
}

.jsOptionSpecial {
 margin: 0px;
 background-color: white;
}
